body {
  margin: 0;
}

header {
  background-color: grey;
}

#top-header {
  background-color: antiquewhite;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icon-container {
  display: flex;
  flex-direction: column;
}

img {
  height: 40px;
}

#actionBtn.cashout {
  background-color: #ff9900; /* Orange for cashing out */
}

.game-container {
  position: relative;
  height: 400px;
  width: 800px;
  border: red 3px solid;
}

.ui-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: yellowgreen solid 3px;
}

.game {
  border: blue 3px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.debug-view {
  border: brown 3px solid;
}

.controls {
  border: green 3px solid;
}
