body {
  margin: 0;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.game-container {
  position: relative;
  height: 400px;
  width: 800px;
}

.ui-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-grow: 1;
  justify-content: center;
}

.debug-view {
  border: brown 3px solid;
  display: none;
}

.controls {
  background: #222;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  color: white;
}

.controls,
.debug-view {
  width: 800px;
}

canvas {
  background-color: #111111;
  border: 2px solid #333;
  border-radius: 8px;
  /* For responsiveness. Will enable soon
  width: 100%;
  height: 100%;
  */
}

#multiplierText {
  color: #fff;
  font-size: 64px;
  margin: 0;
}

#statusText {
  color: #aaa;
  font-size: 24px;
  margin-top: 10px;
}

#actionBtn {
  color: white;
  background-color: #28a745;
  width: 300px;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

#actionBtn.cashout {
  background-color: #ff9900; /* Orange for cashing out */
}

.stats {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 5px;
  text-align: center;
  width: 100px;
  font-size: 18px;
}

/* Header Styling */

header {
  background-color: #171a2d;
  border-bottom: 2px solid #333;
  width: 100%;
}

/* Top Header */
#top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand .logo {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.flag {
  height: 24px;
  border-radius: 3px;
}

/* Auth Buttons */
.auth-group {
  display: flex;
  gap: 10px;
}

.btn-login,
.btn-signup {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-login {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.btn-signup {
  background-color: #28a745;
  color: white;
  border: none;
}

.utility-group {
  display: flex;
  gap: 15px;
}

/* Bottom Header */
#bottom-header {
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
  background-color: #222;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.icon {
  height: 40px;
}

.nav-item.active,
.nav-item:hover {
  color: #28a745;
}
